<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:label="@string/app_name" android:allowBackup="false"
        android:icon="@android:drawable/ic_menu_info_details"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:supportsRtl="true" android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <activity android:name=".ValidationActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <instrumentation android:name=".CoreInstrumentation"
        android:targetPackage="io.github.boyan01.airplay.validation" />
</manifest>
